@import "tailwindcss";

@theme {
    --color-mainBackgroundColor: #131316;
    --color-columnBackgroundColor: #161C22;
}

html,
body,
#root {
    @apply bg-mainBackgroundColor text-white;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-thumb {
    @apply bg-fuchsia-700 rounded-xl;
}

